* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --article-color: rgba(255, 213, 79, 1);
  --article-text-color: #0070c0;
  --header-color: #51464f;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.parallax-img {
    z-index: -1;
        width: 100vw;
        height: 120vh;
        position: absolute;
        object-fit: cover;
        object-position: top;
}
article {
  background-color: var(--article-color);
  color: var(--article-text-color);
  font-family: "Georgia";
  padding: 25px 50px;
}

@media screen and (max-width: 860px) {
  article {
    padding: 25px 0px;
  }
}

section {
    overflow: hidden;
}

section button {
  width: 50px;
  height: 50px;
  z-index: 98;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 25px;
}

@media screen and (max-width: 860px) {
  section button {
    bottom: 100px;
  }
}

section button img {
  width: 40px;
}

section button:active img {
  width: 35px;
}

a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

header {
  width: 100vw;
  height: 56px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  font-family: "Roboto", sans-serif;
  z-index: 99;
  transition: all ease-in-out 250ms;
}

.active-header {
  background-color: var(--header-color);
}

header > a {
  height: 100%;
  width: 50%;
}

.logo-cont {
  height: 100%;
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 25px;
}

.logo-cont h4 {
  color: #fff;
  padding-left: 20px;
  font-weight: 300;
  font-size: 20px;
}

.logo {
  height: 70%;
  width: auto;
}

nav {
  width: 450px;
  height: 100%;
  transition: all ease-in-out 250ms;
}

nav ul {
  height: 100%;
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

nav ul li {
  position: relative;
  height: 100%;
  width: fit-content;
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  height: 100%;
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

nav ul li:nth-of-type(3) > a::after {
  content: url(imgs/down-arrow-white.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

ul li a:hover::before {
  content: "";
  position: absolute;
  background-color: var(--article-color);
  width: 100%;
  height: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}

.sub-list {
  display: none;
  position: absolute;
  bottom: -100%;
  left: 0;
  height: 56px;
  width: fit-content;
  background-color: var(--header-color);
  align-items: center;
  justify-content: center;
}

.sub-list li,
.sub-list li a {
  height: 100%;
  width: 100px;
}

.sub-list li a:hover::before {
  content: "";
  position: absolute;
  background-color: var(--article-color);
  width: 100%;
  height: 10px;
  right: 0;
  bottom: 0;
}

nav ul li:nth-of-type(3):hover .sub-list {
  display: block;
}

.nav-hamburger-cont {
  position: relative;
  width: 50px;
  height: 100%;
  cursor: pointer;
  display: none;
  margin-right: 25px;
  background-color: transparent;
  border: none;
}

.hamburger {
  height: 5px;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all ease-in-out 250ms;
}

.hamburger::before {
  content: "";
  width: 100%;
  left: 0;
  top: 10px;
  height: 5px;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  transition: all ease-in-out 250ms;
}

.hamburger::after {
  content: "";
  width: 100%;
  left: 0;
  top: -10px;
  height: 5px;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  transition: all ease-in-out 250ms;
}

@media screen and (max-width: 860px) {
  .nav-hamburger-cont {
    display: block;
  }

  .logo-cont {
    height: 100%;
    width: 100vw;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 25px;
  }

  .logo-cont h4 {
    color: #fff;
    padding-left: 10px;
    font-weight: 300;
    font-size: 20px;
  }

  .logo {
    height: 70%;
    width: auto;
  }

  nav {
    width: 200px;
    height: 350px;
    position: absolute;
    top: 56px;
    right: -100%;
    z-index: 99;
    overflow: hidden;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 20px;
  }

  nav ul li:nth-of-type(3) > a::after {
    content: "";
  }
  nav > ul > li:last-of-type {
    margin-top: 70px;
  }

  .sub-list {
    display: block;
    position: relative;
    bottom: 0;
    left: -20px;
    height: 56px;
    width: 100%;
    background-color: var(--header-color);
    align-items: center;
    justify-content: center;
  }

  .sub-list li a {
    text-align: center;
    width: 200px;
  }

  .sub-list li:hover a::after {
    content: "";
    position: absolute;
    background-color: var(--article-color);
    width: 200%;
    height: 10px;
    right: -100px;
    bottom: 0;
  }

  .active-page a::before {
    content: "";
    position: absolute;
    background-color: var(--article-color);
    width: 200%;
    height: 10px;
    right: -100px;
    bottom: 0px;
  }

  .active-nav {
    right: 0;
    background-color: var(--header-color);
  }

  .active-hamburger .hamburger {
    background-color: transparent;
  }

  .active-hamburger .hamburger::before {
    top: 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .active-hamburger .hamburger::after {
    top: 0px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 375px) {
  .logo-cont h4 {
    color: #fff;
    padding-left: 10px;
    font-weight: 300;
    font-size: 16px;
  }

  .logo-cont {
    padding-left: 15px;
  }
}

li a.active-page::before {
  content: "";
  position: absolute;
  background-color: var(--article-color);
  width: 100%;
  height: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
}

/*===================== HOME SECTION ==========================*/

.home {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.home h1 {
  color: var(--article-color);
  z-index: 98;
  font-size: 30px;
  text-align: center;
  margin-top: 35vh;
}

.home-article h2,
.home-article p {
  margin: 50px 50px;
}

.home-article h2 {
  font-size: 36px;
}

.home-article p {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 860px) {
  .home-article h2,
  .home-article p {
    margin: 20px 25px;
  }
  .home-article h2 {
    font-size: 30px;
  }

  .home h1 {
    margin-top: 25vh;
  }
}
/*===================== ABOUT US SECTION ==========================*/

.about-us {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-us h1 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 7rem;
  margin-top: 60vh;
  z-index: 98;
  text-align: center;
}

.about-us::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.about-us-article p {
  line-height: 25px;
  padding: 0px 25px;
  margin: 50px 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 860px) {
  .about-us h1 {
    font-size: 5rem;
    margin-top: 25vh;
  }

  .about-us-article p {
    line-height: 25px;
    padding: 0px 15px;
    margin: 25px 0px;
  }
}

/*===================== OUR SERVICES SECTION ==========================*/

.our-services {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.our-services h1 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 7rem;
  margin-top: 60vh;
  z-index: 98;
  text-align: center;
}

.our-services::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.our-services-article p {
  line-height: 25px;
  padding: 0px 25px;
  margin: 50px 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.second-div-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-div-services-p {
  width: 50%;
}

@media screen and (max-width: 860px) {
  .our-services h1 {
    font-size: 5rem;
    margin-top: 25vh;
  }

  .our-services-article p {
    line-height: 25px;
    padding: 0px 15px;
    margin: 50px 0px;
    width: 100%;
  }

  .second-div-services {
    flex-direction: column;
    width: 100%;
  }

  .second-div-services-p {
    width: 100%;
    padding: 0px 15px;
  }
}

/*===================== WHAT WE DO SECTION ==========================*/

.what-we-do {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.what-we-do h1 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 7rem;
  margin-top: 60vh;
  z-index: 98;
}

.what-we-do::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.what-we-do-article p {
  line-height: 25px;
  padding: 0px 25px;
  margin: 50px 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
}

.what-we-do-article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.what-we-do-article div p,
.what-we-do-article div ul {
  width: 50%;
}

.what-we-do-article div ul {
  list-style-type: square;
  padding: 25px;
  height: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.what-we-do-article div ul li {
  margin: 20px 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 860px) {
  .what-we-do h1 {
    font-size: 5rem;
    margin-top: 25vh;
    text-align: center;
  }

  .what-we-do-article p {
    line-height: 25px;
    padding: 0px 10px;
    margin: 50px 0px;
  }

  .what-we-do-article div {
    flex-direction: column;
  }

  .what-we-do-article div p,
  .what-we-do-article div ul {
    width: 90%;
  }
}

/*===================== CONTACT US SECTION ==========================*/

.contact-us {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-us h1 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 200;
  font-size: 7rem;
  margin-top: 60vh;
  z-index: 98;
}

.contact-us::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.contact-us-article p {
  line-height: 25px;
  padding: 0px 25px;
  margin: 50px 25px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .contact-us h1 {
    font-size: 5rem;
    margin-top: 25vh;
    text-align: center;
  }

  .contact-us-article p {
    padding: 10px 0px;
    margin: 25px 0px;
  }
}

/* ==================== CAROUSEL STUFF ========================== */

.carousel-container {
  height: 750px;
  width: 500px;
  overflow: hidden;
  position: relative;
}
.carousel,
.carousel-two {
  height: calc(100% - 20px);
  width: 200%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  transition: transform ease 500ms;
  flex-direction: row !important;
}

.carousel img,
.carousel-two img {
  height: 100%;
  width: 50%;
}

.carousel-controls-cont {
  width: 100%;
  height: 20px;
  bottom: -20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.carousel-control,
.carousel-control-two {
  background-color: rgba(0, 0, 0, 0.5);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto 10px;
  cursor: pointer;
}

.carousel-arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 100px;
  align-items: center;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 10px;
  display: none;
  cursor: pointer;
  transition: all ease 250ms;
  z-index: 99;
}

.carousel-arrow,
.carousel-arrow-two {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 26px;
  transition: all ease 250ms;
}

.carousel-container:hover .carousel-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  transition: all ease 250ms;
}

@media screen and (max-width: 860px) {
  .carousel-container {
    max-height: 50%;
    max-width: 95%;
    width: auto;
    height: 450px;
  }

  .carousel-arrow,
  .carousel-arrow-two {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    transition: all ease 250ms;
  }
}
